:root {
    --white: #FFFFFF;
    --black: #19202A;
    --clear-sky: #DEF1F9;
    --cloudy: #FAFAFA;
    --sunny: #FFEFD2;
    --grey: #8C8F94;
    --light-grey: #C5C7C9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
}

small {
    font-size: 12px;
    font-weight: 400;
}

label {
    font-size: 12px;
    font-weight: 500;
}

menu {
    font-size: 14px;
    font-weight: 500;
}

td {
    font-size: 18px;
    font-weight: 600;
}

th {
    font-size: 18px;
    font-weight: 600;
}

button {
    background-color: transparent;
    border: none;
}

.button {
    padding: 8px 36px;
    color: var(--white);
    background-color: var(--black);
    border: none;
    cursor: pointer;
}

.close {
    cursor: pointer;
}

select {
    appearance: none;
    border: 0;
    outline: 0;
    background: none;
    color: inherit;
    box-shadow: none;
    font-size: 16px;
}

.select {
    position: relative;
    display: flex;
    width: 100%;
    background: var(--cloudy);
    border-radius: 0.25rem;
    overflow: hidden;
}

.select select {
    flex: 1;
    padding: 1em;
    cursor: pointer;
}

.select::after {
    content: url("./img/arrow-down.png");
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: 0.25s all ease;
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
    background-color: var(--cloudy);
    border: none;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F6FB;
}

main {
    width: 100vw;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section {
    width: 95vw;
    display: flex;
    gap: 20px;
    max-width: 1565px;
}

div.escalonamento {
    background-color: var(--white);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 400px;
    box-shadow: 0px 0px 6px 0px rgba(25, 32, 42, 0.25);
    border-radius: 2px;
}

.escalonamento .titulo {
    display: flex;
    justify-content: space-between;
}

.escalonamento .label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.escalonamento .label select {
    padding: 15px;
}

div.paginacao {
    background-color: var(--white);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    gap: 16px;
    box-shadow: 0px 0px 6px 0px rgba(25, 32, 42, 0.25);
    border-radius: 2px;
}

.paginacao .titulo {
    display: flex;
    justify-content: space-between;
}

.paginacao .label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.paginacao .label select {
    padding: 15px;
}

div.simulacao {
    background-color: var(--white);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0px 0px 6px 0px rgba(25, 32, 42, 0.25);
    border-radius: 2px;
}

.simulacao .label {
    display: flex;
    gap: 16px;
}

.simulacao .label div {
    display: flex;
    flex-direction: column;
}

.simulacao .label div input {
    padding: 15px;
    max-width: 150px;
}

.simulacao .btn {
    display: flex;
    justify-content: end;
}

div.processos {
    background-color: var(--white);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    gap: 16px;
    box-shadow: 0px 0px 6px 0px rgba(25, 32, 42, 0.25);
    border-radius: 2px;
}

div.lista {
    display: flex;
    overflow-x: scroll;
    gap: 25px;
}

#lista-processos {
    display: flex;
    gap: 25px;
}

div.lista .btn-processo {
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
    padding: 48px;
    border-radius: 2px;
    cursor: pointer;
}

div.lista .processo {
    padding: 12px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(25, 32, 42, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.lista .processo .titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.lista .processo .label {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

div.lista .processo .label div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 120px;
}

div.lista .processo .label div input {
    background-color: var(--grey);
    background: rgba(140, 143, 148, .3);
    padding: 12px;
    color: var(--white);
    border-radius: 5px;
}

div.diagrama {
    background-color: var(--white);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    box-shadow: 0px 0px 6px 0px rgba(25, 32, 42, 0.25);
    border-radius: 2px;
    overflow: hidden;
}

.diagrama table {
    color: var(--white);
    padding: 20px;
    border-spacing: 10px;
}

.diagrama .table {
    background-color: var(--black);
    border-radius: 5px;
}

.diagrama .table {
    width: 100%;
    overflow-x: scroll;
}

.diagrama .table h3 {
    width: calc(100%-30px);
    text-align: right;
    padding-bottom: 20px;
    padding-right: 30px;
    color: var(--white);
}

.diagrama table td {
    background-color: rgba(140, 143, 148, .3);
    border-radius: 2px;
    padding: 11px;
    width: 50px;
}

.diagrama table td.red {
    background-color: rgba(221, 0, 0, .8);
}

.diagrama table td.green {
    background-color: rgba(0, 136, 0, .8);
}

.diagrama table td.blue {
    background-color: rgba(0, 150, 255, .8);
}

.diagrama table th {
    background-color: rgba(140, 143, 148, .3);
    border-radius: 2px;
    padding: 11px;
    width: 50px;
}

.diagrama table .processo-tempo {
    width: 80px;
}

#tempo-tabela td {
    height: 27px;
}

section .diagrama div.table {
    background-color: var(--black);
    min-width: 100%;
    min-height: 30vh;
}

div.disco {
    background-color: var(--white);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 16px;
    box-shadow: 0px 0px 6px 0px rgba(25, 32, 42, 0.25);
    border-radius: 2px;
    overflow: hidden;
}

.disco .tabela-disco {
    overflow-x: scroll;
}

div.disco table {
    background-color: var(--black);
    border-radius: 5px;
    color: var(--white);
    padding: 20px;
    border-spacing: 10px;
    width: 100%;
}

div.disco table td {
    background-color: rgba(140, 143, 148, .3);
    border-radius: 2px;
    padding: 11px;
    min-width: 20px;
}

div.ram {
    background-color: var(--white);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    width: 35%;
    gap: 16px;
    box-shadow: 0px 0px 6px 0px rgba(25, 32, 42, 0.25);
    border-radius: 2px;
    overflow: hidden;
}

.ram .tabela-ram {
    overflow-x: scroll;
}

div.ram table {
    background-color: var(--black);
    border-radius: 5px;
    color: var(--white);
    padding: 20px;
    border-spacing: 10px;
    width: 100%;
}

div.ram table td {
    background-color: rgba(140, 143, 148, .3);
    border-radius: 2px;
    padding: 11px;
    min-width: 20px;
}

#turnaround {
    height: 27px;
}

@media (max-width: 1650px) {
    section.dados-simulacao {
        flex-direction: column;
    }
}

@media (max-width: 1280px) {
    section.disco-ram {
        flex-direction: column-reverse;
    }

    div.disco {
        width: auto;
    }

    div.ram {
        width: auto;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
        font-weight: bold;
    }
    
    h2 {
        font-size: 18px;
        font-weight: bold;
    }
    
    h3 {
        font-size: 16px;
        font-weight: 600;
    }
    
    h4 {
        font-size: 16px;
        font-weight: 400;
    }
    
    p {
        font-size: 14px;
        font-weight: 400;
    }
    
    small {
        font-size: 8px;
        font-weight: 400;
    }
    
    label {
        font-size: 8px;
        font-weight: 500;
    }

    td {
        font-size: 16px;
        font-weight: 600;
    }
    
    th {
        font-size: 16px;
        font-weight: 600;
    }
    
    menu {
        font-size: 12px;
        font-weight: 500;
    }

    div.paginacao {
        min-width: 0px;
    }

    div.escalonamento {
        min-width: 0px;
    }

    div.simulacao .label {
        flex-direction: column;
    }

    .simulacao .label div input {
        max-width: 100%;
    }
}